*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Inter';
    font-style: normal;
}
nav{
    display: flex;  
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: gray;
}

.logo{
    padding: 8px 0;
    
}

.register-btn{
    background-color:#1d4ed8FF;
    color: white;
    border: none;
    height: 48px;
    width: 188px;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;

}


.container{
    max-width: 1200px;
    padding: 136px 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 5px;
}

.container p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 260;
    margin-bottom: 320px;

}

.outer-speaker-container{
    background-color: white ;
    padding: 25px 0 75px;
    height:700px;
}

.speaker-container{
    width: 80%;
    
    margin: 0 auto;
    background-color: white;
    height:400px;
}

.speaker-title{
    text-align: center;
    background-color: white;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-image-speaker{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;

}
.individual-card{
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}
.stack{
    color: #2563ebFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;

}
.speaker-name{
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    margin-top: 8px;
}

.designation{
    color: #575757FF;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    margin-top: 8px;
}

.speaker-info {
    padding: 24px;
}
.image{
    
}